.astro
.git
.env
airflow_settings.yaml

# All Kedro project files, except data/ and conf/
.ipython/
docs/
notebooks/
.coveragerc
.gitignore
.isort.cfg
pyproject.toml
README.md
setup.cfg
src/requirements.txt
src/dist/
src/build/
terraform/
